<h1>
  Add a project
</h1>
<p>
  Tell potential contributors about your project by filling in
  some inital details.
</p>

<%= form_for(project) do |f| %>
  <div class="row-fluid">
    <div class="span6">
      <%= f.label("name", "Project Name", :class => "text") %>
      <%= f.text_field("name", :required => true) %>
      <%= f.label("image", "Descriptive Image") %>
      <%= f.file_field :image %>
      <%= f.label("funding_due") %>
      <%= text_field_tag("project[funding_due]", nil, :required => true) %>
      <%= text_field_tag("timezone","", :id=> "timezone", :style=>"width:2em", :readonly=>"", :title => "Timezone") %>
    </div>
    <div class="span6">

    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <%= f.label("amount", "Collection amount") %>
      $<%= f.text_field("amount", :required => true, :class => "money") %>
      - $<input class="money" disabled="" id="feepercent" style="width:2em">(6%) =
      $<input class="money" disabled="" id="feetotal"> collected
      <script>
        var projectdate = new Date(Date.parse(<%=raw project.funding_due.to_json%>));
        document.getElementById('project_funding_due').value = projectdate.getFullYear() + "-" + (projectdate.getMonth()+1) + "-" + projectdate.getDate() + " " + projectdate.getHours() + ":" + projectdate.getMinutes();
        var datematch = (new Date()).toString().match(/\(([A-Z]{3})\)/);
        if(datematch) {
          document.forms[0].timezone.value=datematch[1]
        }

        $(function() {
          var recalc = function(){
            var total = $('#project_amount').val()
            var fee = (total*0.06).toFixed(2)
            $('#feepercent').val(fee)
            $('#feetotal').val((total-fee).toFixed(2))
          };

          $('#project_amount').change(recalc).blur(recalc).focus(recalc).keyup(recalc)
          recalc()
        })
      </script>
      <%= f.label("descripton") %>
      <%= f.text_area("description", :rows => 4) %>
    </div>
    <div class="span6">
       If the funding is successful, EverythingFunded charges a 3% fee. In addition, Amazon Payments
       <a href="https://payments.amazon.com/sdui/sdui/about?nodeId=6022"
          style="text-decoration:underline">
         charges approximately 3%
       </a>
        to each contributor for credit card processing.
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <%= submit_tag "Save Details", :class => "btn" %>
    </div>
    <div class="span6">
       Save as often as you like. The details are for your eyes only until published.
    </div>
  </div>
<% end %>
