<% if project.editable? %>
<div class="alert">
  <strong>Warning!</strong> This project is not published. Only you can view it.
</div>
<% end %>

<% if project.funded? %>
<div class="alert alert-success">
  This project was funded on
  <time datetime="<%= project.funding_due.iso8601 %>"
        title="<%= project.funding_due.iso8601 %>"
        data-format="yyyy-MMM-dd h:mmtt">
    <%= project.funding_due %>
  </time>.
</div>
<% end %>

<div class="project-box" id="project-<%=project.id%>">
  <div class="threetone-box">
    <div class="header">
      <%= link_to project.name, project %>
    </div>

    <div class="body">
      <div class="project-box-inner-top-row">

        <div class="project-box-inner-photo">

          <%= link_to(image_tag(project.image.url(image_size)), project) %>

          <div class="hangboards">
          <% if defined?(owner) %>
            <div class="pull-right hangboard project-box-inner-owner">
              <div class="photo"> <%= link_to(image_tag(project.user.profile_image_url), project.user) %></div>
              <div class="name"> <%= link_to project.user.name, project.user %></div>
            </div>
          <% end %>
          <% if defined?(funder_count) %>
          <div class="pull-right hangboard contributor-count">
            <div class="title">Funders: </div>
            <div class="count">
                <% if project.fundable? %>
                  <%= project.contributions.authorizeds.count +
                      project.contributions.reserveds.count  %>
                <% end %>
                <% if project.funded? %>
                  <%= project.contributions.captureds.count %>
                <% end %>
            </div>
          </div>
          <% end %>
          <div class="pull-right hangboard project-due"
               title="<%= project.funding_due.iso8601 %>">
            <div class="title" style="margin-bottom: 0.1em">Due by: </div>
            <span id="ptime_day">
              <time datetime="<%= project.funding_due.iso8601 %>"
                    data-format="MMM-dd">
                <%= project.funding_due %>
              </time>
            </span>
            <br/>
            <span id="ptime_hour">
              <time datetime="<%= project.funding_due.iso8601 %>"
                    data-format="h:mmtt">
                <%= project.funding_due %>
              </time>
            </span>
          </div>
          <div class="pull-right hangboard project-goal">
            <div class="title">Goal: </div>
            <div class="money"><%= number_to_currency(project.amount) %> </div>
          </div>
          <div class="pull-right hangboard project-collected">
            <div class="title">Collected: </div>
            <div class="money">
              <% if project.funded? %>
                <%= number_to_currency(project.collected_amount) %>
              <% else %>
                <%= number_to_currency(project.authorized_amount+project.contributed_amount) %>
              <% end %>
            </div>
          </div>
          </div>
        </div>
      </div>

      <% if defined?(description) %>
        <% unless project.description.blank? %>
          <hr/>
          <div class="project-box-description" style="clear:both">
            <%= project.description.html_safe %>
          </div>
        <% end %>
      <% end %>
    </div>

    <% if defined?(inline_support) %>
    <div class="project-box-actions">
      Managed by: <%= link_to project.user.name, project.user %>
      <a href="<%=project_path(project)%>" style="float:right">
        <button type="submit" class="label">Details</button>
      </a>
    </div>
    <% end %>
  </div>
</div>
