<% if project.editable? %>
<div class="alert">
  <strong>Warning!</strong> This project is not published. Only you can view it.
</div>
<% end %>

<div class="project-box" id="project-<%=project.id%>">
  <div class="threetone-box">
    <div class="header">
      <%= link_to project.name, project %>
    </div>

    <div class="body">
      <div class="project-box-inner-top-row">

        <div class="project-box-inner-photo">

          <%= link_to(image_tag(project.image.url(image_size)), project) %>

          <div class="hangboards">
          <% if defined?(owner) %>
            <div class="pull-right hangboard project-box-inner-owner">
              <div class="photo"> <%= link_to(image_tag(project.user.image_url), project.user) %></div>
              <div class="name"> <%= link_to project.user.name, project.user %></div>
            </div>
          <% end %>
          <% if defined?(funder_count) %>
          <div class="pull-right hangboard contributor-count">
            <div class="title">Funders: </div>
            <div class="count">
                <% if project.fundable? %>
                  <%= project.contributions.authorizeds.count +
                      project.contributions.reserveds.count  %>
                <% end %>
                <% if project.funded? %>
                  <%= project.contributions.captureds.count %>
                <% end %>
            </div>
          </div>
          <% end %>
          <div class="pull-right hangboard project-due">
            <div class="title" style="margin-bottom: 0.1em">Due by: </div>
            <script>
              $(function() {
                var months = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
                var ptime = new Date(Date.parse(<%=raw project.funding_due.to_json%>))
                $("#project-<%=project.id%> #ptime_day").html(months[ptime.getMonth()]+" "+ptime.getDate())
                var minutes = ptime.getMinutes();
                if(minutes < 10) { minutes = "0"+minutes }
                $("#project-<%=project.id%> #ptime_hour").html(ptime.getHours()+":"+minutes)
                $("#project-<%=project.id%> #ptime_zone").html(ptime.toString().substr(35,3))
              })
            </script>
            <span id="ptime_day"></span>
            <br/>
            <span id="ptime_hour"></span>
            <span id="ptime_zone" style="font-size:80%"></span>
          </div>
          <div class="pull-right hangboard project-goal">
            <div class="title">Goal: </div>
            <div class="money"><%= number_to_currency(project.amount) %> </div>
          </div>
          <div class="pull-right hangboard project-collected">
            <div class="title">Collected: </div>
            <div class="money">
              <% if project.funded? %>
                <%= number_to_currency(project.collected_amount) %>
              <% else %>
                <%= number_to_currency(project.contributed_amount) %>
              <% end %>
            </div>
          </div>
          </div>
        </div>
      </div>

      <% if defined?(description) %>
        <% unless project.description.blank? %>
          <hr/>
          <div class="project-box-description" style="clear:both">
            <%= project.description.html_safe %>
          </div>
        <% end %>
      <% end %>
    </div>

    <% if defined?(inline_support) %>
    <div class="project-box-actions">
      Managed by: <%= link_to project.user.name, project.user %>
      <a href="<%=project_path(project)%>" style="float:right">
        <button type="submit" class="label">Details</button>
      </a>
    </div>
    <% end %>
  </div>
</div>