<div class="project-box">
 <div class="project-box-border">
    <div class="project-box-rolodex">
      <%= link_to project.name, project %>
    </div>

    <div class="project-box-inner">
      <div class="project-box-inner-owner">
       <div class="photo"> <%= image_tag project.user.image_url %></div>
       <div class="name"> <%= project.user.name %></div>
      </div>


      <div class="project-box-inner-detail">
        <div class="project-title"> </div>
        <div class="project-due">Due by: <%= project.funding_due.strftime("%Y-%m-%d") %> </div>
        <div class="project-timeleft">Time left: <%= distance_of_time_in_words_to_now(project.funding_due) %> </div>
      </div>
      <div class="project-box-inner-photo">
        <img src="<%= project.image_url %>">
      </div>
    </div>

  </div>
</div>