<div class="project-box">
 <div class="project-box-border">
    <div class="project-box-rolodex">
      <%= link_to project.name, project %>
    </div>

    <div class="project-box-inner">
      <div class="project-box-inner-owner">
       <div class="photo"> <%= image_tag project.user.image_url %></div>
       <div class="name"> <%= project.user.name %></div>
      </div>


      <div class="project-box-inner-detail">
        <div class="hangboard project-due">
          Due by: <br/>
          <%= project.funding_due.strftime("%h-%d") %> <br/>
          <%= project.funding_due.strftime("%H:%M") %>
        </div>
        <div class="hangboard project-goal">
          Goal: <br/>
          <%= number_to_currency(project.amount) %>
        </div>
        <div class="hangboard project-contributors">
          Collected: <br/>
          <%= number_to_currency(project.collected) %> <br/>
        </div>
      </div>
      <div class="project-box-inner-photo">
        <img src="<%= project.image_url %>">
      </div>
    </div>

  </div>
</div>