<% if project.editable? %>
<div class="alert">
  <strong>Warning!</strong> This project is not published. Only you can view it.
</div>
<% end %>

<div class="project-box-border">
 <div class="project-box">
    <div class="project-box-rolodex">
      <div class="project-box-rolodex-text">
        <%= link_to project.name, project %>
      </div>
    </div>

    <div class="project-box-inner">
      <div class="project-box-inner-top-row">

        <div class="project-box-inner-photo">
          <% if project.image %>
            <%= link_to(image_tag(project.image.url(:thumb)), project) %>
          <% end %>
        </div>

        <div class="project-box-inner-owner">
         <div class="photo"> <%= link_to(image_tag(project.user.image_url), project.user) %></div>
         <div class="name"> <%= link_to project.user.name, project.user %></div>
        </div>

        <div class="pull-left hangboards">
          <div class="pull-right hangboard contributor-count">
            <div class="title">Funders: </div>
            <div class="count"><%= project.contributions.authorizeds.count %></div>
          </div>
          <!--
          <div class="pull-right hangboard project-due">
            <div class="title">Due by: </div>
            <%= project.funding_due.strftime("%h ")+project.funding_due.day.to_s %>
          </div>
          -->
          <div class="pull-right hangboard project-goal">
            <div class="title">Goal: </div>
            <div class="money"><%= number_to_currency(project.amount) %> </div>
          </div>
          <div class="pull-right hangboard project-collected">
            <div class="title">Collected: </div>
            <div class="money"><%= number_to_currency(project.collected) %> </div>
          </div>
        </div>
      </div>

      <% unless project.description.blank? %>
      <div class="project-box-description" style="clear:both">
        "<%= project.description %>"
      </div>
      <% end %>
    </div>

    <% if defined?(inline_support) %>
    <div class="project-box-actions">
      <a href="<%=project_path(project)%>">
        <button type="submit" class="btn">Details</button>
      </a>
    </div>
    <% end %>

  </div>
</div>