<%= render :partial => "projects/item", :locals => {:project => @project}%>


<% contribs =  @project.contributions.select(&:successful?) %>
<% if contribs.size > 0 %>
  <div class="contributors">
    <div class="contributors-inner">
      Contributors
      <% contribs.each do |c| %>
        <div>
        <%= render :partial => "projects/contribution", :locals => {:contribution => c} %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  Be the first to contribute to this project.
<% end %>

<% if logged_in? && current_user == @project.user %>
  <div class="btn-group">
  <%= link_to 'edit', edit_project_path(@project), :class => "btn" %>
  <%= link_to 'delete', project_path(@project), :method => :delete, :class => "btn" %>
  </div>

   <%= form_tag(contribute_project_path) do %>
     Contribute in the amount of
     <%= label_tag(:amount, "Amount") %>
     $<%= text_field_tag(:amount) %>
   <% end %>
<% end %>

