<div class="contribute-box" style="float:right; width:20%">
  <div class="project-box-border">
    <div class="project-box-rolodex">
      Contribute to this project
    </div>
    <div class="project-box-inner">
      <div class="contribute-box-text">
        <% if logged_in? %>
            <%= form_tag(contribute_project_path) do %>
             <div class="contribute-amount">
             <%= label_tag(:amount, "Amount") %>
             $<%= text_field_tag(:amount, nil, :required => true) %>
             </div>
             <button type="submit" class="btn">Give</button>
            <% end %>
        <% else %>
          Please login to contribute.
        <% end %>
      </div>
    </div>
  </div>
</div>

<div style="float:right; width:75%; margin-right: 1em">

<%= render :partial => "projects/item", :locals => {:project => @project}%>


<% contribs =  @project.contributions.select(&:successful?) %>
<% if contribs.size > 0 %>
  <div class="contributors">
    <div class="contributors-inner">
      Contributors
      <% contribs.each do |c| %>
        <div>
        <%= render :partial => "projects/contribution", :locals => {:contribution => c} %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  Be the first to contribute to this project.
<% end %>


<% if logged_in? && current_user == @project.user %>

  <div class="btn-group">
  <%= link_to 'edit', edit_project_path(@project), :class => "btn" %>
  <%= link_to 'delete', project_path(@project), :method => :delete, :class => "btn" %>
  </div>

<% end %>

</div>