<!DOCTYPE html>
<html>
<head>
  <title>EverythingFunded - Do more stuff.</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">

<%= render :partial => "layouts/navbar" %>
<%= render :partial => "layouts/flashbar" %>

<script>
  $(function(){$(".controller-"+<%=raw controller_name.to_json%>).addClass('active')})
</script>

  <%= yield %>

<%= render :partial => "layouts/footer" %>
</div>

<%= render :partial => "layouts/google" %>
</body>
</html>
